<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolchoice.monumentphoto"
    android:versionCode="1"
    android:versionName="0.24" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    
    <application
        android:name=".MonumentPhotoApplication"
        android:icon="@drawable/grave"
        android:label="@string/app_name"
        android:theme="@style/ThemeMobile" >
        <activity
            android:name="com.coolchoice.monumentphoto.CemeteryListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.coolchoice.monumentphoto.AddObjectActivity"
            android:label="@string/app_name" >         
        </activity>
        <activity
            android:name="com.coolchoice.monumentphoto.map.AddGPSActivity"
            android:label="@string/app_name" >         
        </activity>        
        <activity
            android:name="com.coolchoice.monumentphoto.BrowserCemeteryActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">         
        </activity>
        <activity
            android:name="com.coolchoice.monumentphoto.SettingsActivity"
            android:label="@string/settings_title">
        </activity>
        <activity
            android:name="com.coolchoice.monumentphoto.PlaceSearchActivity"
            android:label="@string/place_search_activity"
            android:theme="@style/ThemeMobileDialog">
        </activity>
        
        <activity android:name="org.acra.CrashReportDialog" android:theme="@android:style/Theme.Dialog"
        	android:launchMode="singleInstance" android:excludeFromRecents="true" android:finishOnTaskLaunch="true" />          
    </application>

</manifest>